<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="This is a web app that allows users to run Natural Language Processing (NLP) on articles or blogs found on other websites.">
        <meta name="keywords" content="nlp, evaluate news, evaluate articles language, run Natural Language Processing on articles">
        <meta name="author" content="Janaina MJ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluate News Articles</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="input-url">Enter a URL...</label>
                    <input id="input-url" type="text" name="input" placeholder="E.g. http://">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            //Check whether browser supports service workers or not
            if('serviceWorker' in navigator){
                //use window load event to keep the page loading
                window.addEventListener('load', ()=>{
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
